{
  "broker_config": {
    "broker_id": "broker1",
    "name": "AMQPBroker",
    "consumer_config": {
      "type": "amqpconsumer.AsyncConsumer",
      "exchange": "flashapp",
      "exchange_type": "direct",
      "queue": "flash1callback",
      "routing_key": "flash1.callback",
      "amqp_url": "amqp://user:123@alpha:5672/%2F?connection_attempts=3&heartbeat_interval=3600"
    },
    "publisher_config": {
      "type": "amqppublisher.AsyncPublisher",
      "exchange": "flashapp",
      "exchange_type": "direct",
      "queue": "flash1",
      "routing_key": "flash1.slave1",
      "amqp_url": "amqp://user:123@alpha:5672/%2F?connection_attempts=3&heartbeat_interval=3600"
    }
  },
  "flows": [
    {
      "flow_id": "flow1",
      "name": "first_flow",
      "status_dir": "C:\\Docs\\flash\\flashstatus",
      "nodes": [
        {
          "coords": {
            "x": 100,
            "y": 100
          },
          "node_id": "node1",
          "name": "ListFile",
          "type": "funcnode.FuncNode",
          "concurrency": 6,
          "batch_size": 5,
          "relations_config": [
            "rel1"
          ],
          "scheduler_config": {
            "scheduler_id": "scheduler1",
            "name": "timerscheduler.TimerScheduler",
            "interval": 0
          },
          "node_properties": {
            "dir_path": "C:\\Windows",
            "func": "list_file",
            "handler": "func",
            "state": -1
          },
          "possible_events": [
            "Success",
            "Failure"
          ]
        },
        {
          "coords": {
            "x": 400,
            "y": 100
          },
          "node_id": "node2",
          "name": "Wrangler",
          "type": "recipenode.RecipeNode",
          "concurrency": 6,
          "batch_size": 500,
          "relations_config": [
            "rel1",
            "rel2"
          ],
          "scheduler_config": {
            "scheduler_id": "scheduler1",
            "name": "timerscheduler.TimerScheduler",
            "interval": 0
          },
          "node_properties": {
            "recipe_id": 1,
            "handler": "recipe"
          },
          "possible_events": [
            "Success",
            "Failure"
          ]
        },
        {
          "coords": {
            "x": 700,
            "y": 100
          },
          "node_id": "node3",
          "name": "resultsprinter",
          "type": "funcnode.FuncNode",
          "concurrency": 6,
          "batch_size": 10,
          "relations_config": [
            "rel2"
          ],
          "scheduler_config": {
            "scheduler_id": "scheduler1",
            "name": "timerscheduler.TimerScheduler",
            "interval": 10
          },
          "node_properties": {
            "func": "results_printer",
            "handler": "func"
          },
          "possible_events": [
            "Success",
            "Failure"
          ]
        }
      ],
      "relations": [
        {
          "relation_id": "rel1",
          "name": "Rel_Success",
          "type": "Success",
          "bulks_capacity": 5000,
          "src_node_id": "node1",
          "dst_node_id": "node2",
          "events": [
            "Success"
          ]
        },
        {
          "relation_id": "rel2",
          "name": "Rel_Success",
          "type": "Success",
          "bulks_capacity": 5000,
          "src_node_id": "node2",
          "dst_node_id": "node3",
          "events": [
            "Success"
          ]
        }
      ]
    }
  ],
  "default_nodes": [
    {
      "coords": {
        "x": 0,
        "y": 0
      },
      "name": "ListFile",
      "type": "funcnode.FuncNode",
      "concurrency": 6,
      "batch_size": 5,
      "relations_config": [
        "rel1"
      ],
      "scheduler_config": {
        "scheduler_id": "scheduler1",
        "name": "timerscheduler.TimerScheduler",
        "interval": 0
      },
      "node_properties": {
        "dir_path": "E:\\Docs",
        "func": "list_file",
        "handler": "func",
        "state": -1
      }
    },
    {
      "coords": {
        "x": 0,
        "y": 0
      },
      "name": "Wrangler",
      "type": "recipenode.RecipeNode",
      "concurrency": 6,
      "batch_size": 500,
      "relations_config": [
        "rel1",
        "rel2"
      ],
      "scheduler_config": {
        "scheduler_id": "scheduler1",
        "name": "timerscheduler.TimerScheduler",
        "interval": 1
      },
      "node_properties": {
        "recipe_id": 1,
        "handler": "recipe"
      }
    },
    {
      "coords": {
        "x": 0,
        "y": 0
      },
      "name": "resultsprinter",
      "type": "funcnode.FuncNode",
      "concurrency": 6,
      "batch_size": 10,
      "relations_config": [
        "rel2"
      ],
      "scheduler_config": {
        "scheduler_id": "scheduler1",
        "name": "timerscheduler.TimerScheduler",
        "interval": 0
      },
      "node_properties": {
        "func": "results_printer",
        "handler": "func"
      }
    }
  ]
}